input.btn {
  transition: 0.2s;
  border: none;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}
input.btn:hover {
  box-shadow: none !important;
}